// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~compass-mixins/lib/compass/css3';
@import "font-awesome";

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
    margin: 1em 0;
    min-width: 300px; // adjust to your needs

    tr {
        border-top: 1px solid #ced4da;
        border-bottom: 1px solid #ced4da;
    }

    th {
        display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
    }

    td {
        display: block;

        &:first-child {
            padding-top: .5em;
        }
        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width: 6.5em; // magic number :( adjust according to your own content
            display: inline-block;
            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    th, td {
        text-align: left;

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

    }
}


.rwd-table {
    /*
    background: #34495E;
    color: #fff;
    border-radius: .4em;
     */
    overflow: hidden;
    tr {
        /*border-color: lighten(#34495E, 10%);*/
    }
    th, td {
        margin: .5em 1em;
        @media (min-width: $breakpoint-alpha) {
            padding: 0.5em !important;
        }
    }
    th, td:before {
        /*color: #dd5;*/
    }
    .mx-input-append {
        height: auto !important;
    }
    .cell {
        display: table-cell;
    }
    td.summ {
        width: 110px;
    }
    td.date {
        width: 150px;
    }
}

.forLoading .loading {
    background-position: 50% 50%;
}
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: #ffffff url("/img/loading_table_.gif") no-repeat 50% 10%;
    z-index: 1000;
    opacity: 0.5;
}
